.system-tabs{
    margin: 100px;
}
:global{
    .ant-tabs-tab + .ant-tabs-tab{
        border-right: #666 !important;
    }
    .ant-tabs-tab-btn{
        color:#ccc !important;
    }
    .ant-tabs-tab-active {
        .ant-tabs-tab-btn{
            color:#ccc !important;
            background-color: #ccc;
            border-radius: 4px;
        }
    }
    .ant-tabs-tab-disabled .ant-tabs-tab-btn{
        color:#666 !important;
    }
    .ant-tabs-ink-bar{
        visibility: hidden;
    }
}