.App {
  width: 100%;
  height: 100vh;
  background: #000;
  .wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

// 全局字体样式
* {
  font-size: 18px !important;
  font-family: "楷体", "楷体_GB2312" !important;
}

// 清除 antd tabs 默认样式
// :global {
.ant-tabs-nav::before {
  border: none !important;
}
.ant-tabs-tab-btn {
  color: #ccc !important;
  text-align: center;
}
.ant-tabs-tab-active {
  .ant-tabs-tab-btn {
    color: #000 !important;
    background-color: #ccc;
    border-radius: 4px;
  }
}
.ant-tabs-tab-disabled .ant-tabs-tab-btn {
  color: #666 !important;
}
// }
