.armor-tabs {
  margin-top: 40px;
  margin-left: 120px;
  height: calc(100% - 100px);
  .ant-tabs-tab-btn {
    width: 70px;
  }
  .ant-tabs-tab {
    margin: 0 !important;
    padding: 0 !important;
  }
}
